.chatInput {
  border-radius: 20px;
}

.chatInput > form {
  position: relative;
  display: flex;
  
  justify-content: center;
}

.chatInput > form > input {
  position: fixed;
  bottom: 30px;
  width: 60%;
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
}

.chatInput > form > button {
  position: fixed;
  bottom: 50px;
  /* right: 250px; */
  right: 18%;
  height: 0;
  width: 0;
  border: none;
  background-color: transparent;
}
@media only screen and (max-width:600px){
  .chatInput > form > input{
    width: 80%;
  }
  .chatInput > form > button{
    display: none;
  }
  }